.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h1 {
  margin-bottom: 16px;
  text-align: center;
}

.login-card {
  width: 360px;
}


.login-card input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
}
