:root {
  --primary: #2563eb;
  --primary-dark: #1e40af;
  --danger: #dc2626;
  --danger-dark: #961919;
  --warning: #ffc107;
  --warning-dark: #bd8f04;
  --gray-100: #f3f4f6;
  --gray-300: #d1d5db;
  --gray-700: #374151;
  --white: #ffffff;
}
