.client-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.client-table {
  width: 100%;
  border-collapse: collapse;
}

.client-table th,
.client-table td {
  padding: 12px;
  border-bottom: 1px solid var(--gray-300);
}

.client-table th {
  text-align: left;
}

.pagination {
  display: flex;
  gap: 12px;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}
